@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
body{
    min-height: 100vh;
    background-color: #fcfcfc;
}
a{
    text-decoration: none;
    color: inherit;
}
hr{
    border: none;
    height: 1px;
    background-color: #e2e8f0;
}
.app-content{
    display: flex;
    min-height: calc(100vh - 69px);
    width: 100%;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cursor{
    cursor: pointer;
}